
body {
	background-image: url(sayagata.png);

	}


/*Navigation Bar*/
ul {
    list-style-type: none;
    margin-top: 30px;
    padding: 0px;
    overflow: hidden;
    background-color: #333;
    font-style: Georgia;
	}

/*Navigation Bar - float right*/
li {
    float: right;
    background-color: #333;
    font-style: Georgia;
	}

/*Navigation Bar Display*/
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 25px 27px;
    text-decoration: none;
    background-color: #333;
    font-style: Georgia;
}

/*Navigation Bar - Name*/
li.Main-Name {
	color: white;
	float: left;
	font-size: 35px;
	background-color: #647;
	padding: 14px 14px;
	padding-left: 20px;
	padding-right: 20px;

}

/*Nav Bar - Hover over to change bkgrnd of text*/
li a:hover {
	background-color: white;
		}


/*Connect Box*/
aside {
	background-color: ;
	margin: ;
	padding-left: ;
	float: right;
				}

/*Contact Page - Contact me box*/
section {
	background-color: ;
	padding: 0px;
	margin: 0px;
	text-align: left;
	float: left;
}

input {
	width: 30%;
	margin-left: 0px;
	clear: left;
}

/*Formatting Submit Button*/
input[type=submit] {
	background-color: ;
	font-style: ;
	clear:left;
}


/*Aboutme Formatting*/
.aboutme {
	float:left;
	background-color: blue;
	margin: 40px 20px 50px 20px;
}

/*Footer Formatting*/
footer {
	clear: left;
}