
body {
	background-image: url(horns.png);

	}


/*Navigation Bar*/
ul {
    list-style-type: none;
    margin-top: 30px;
    padding: 0px;
    overflow: hidden;
    background-color: #46a;
    font-style: Georgia;
	}

/*Navigation Bar - float right*/
li {
    float: right;
    background-color: #46a;
    font-style: Georgia;
	}

/*Navigation Bar Display*/
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 25px 27px;
    text-decoration: none;
    background-color: #46a;
    font-style: Georgia;
	}

/*Navigation Bar - Name*/
li.Main-Name {
	color: white;
	float: left;
	font-size: 35px;
	background-color: #46a;
	padding: 14px 14px;
	padding-left: 20px;
	padding-right: 20px;
	font-style: Georgia;
	}

/*Nav Bar - Hover over to change bkgrnd of text*/
li a:hover {
	background-color: #236;
		}


/*Connect Box Formatting*/
aside {
	padding: 2%;
	margin: 3%;
	background-color: transparent;
	float: right;
	border-style: double;
	border-color: #236;
	font-style: sans-serif;
	}

.connect-box1 {
	background-color: transparent;
	font-style: sans-serif;
	font-size: 25px;
	text-align: center;
	text-decoration: underline;
	}
		


/*Contact Page - Send me a mesg. box*/
section {
	background-color: ;
	padding: 0px;
	margin: 0px;
	text-align: left;
	float: left;
	font-style: sans-serif;
	}

input {
	width: 100%;
	margin-left: 0px;
	clear: left;
	padding-top: 5px;
	padding-bottom: 5px;
	}

/* Formatting submit button*/
.submitbtn {
	background-color: #236;
	color: white;
	clear:left;
	}


/*Aboutme Formatting*/
.aboutme {
	float:left;
	background-color: gainsboro;
	margin: ;
	padding-left: 40px;
	padding-right: 40px;
	margin: 20px;
	border-color: #236;
	border-style: solid;
	}
h2 {
	color: #f55;
	font-size: 30px;
	font-style: ;
	text-align: center;
	text-decoration: underline;
	margin: 0px;
	padding: 0px;
	}

/*Portfolio page formatting*/



/*Footer Formatting*/
footer {
	clear: left;
	padding: 10px;
	background-color: #f55; 
	text-decoration: bold;
	}


